body {
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
  color: white;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
h1 img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}
.attribution {
  font-size: 13px;
  -webkit-text-stroke: 0.5px black;
  color: lightblue;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  backdrop-filter: blur(1.5px);
}

.attribution a {
  text-decoration: none;
}
.attribution img {
  display: flex;
  width: 20px;
  padding: 6px;
}
.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://wallpapercave.com/uwp/uwp4244539.jpeg") no-repeat
    center center fixed;
  background-size: cover;
  z-index: -1;
}
.container {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  border: 4px solid #228b22;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #228b22;
  position: relative;
  box-sizing: border-box;
}
input {
  display: block;
  width: calc(100% - 24px);
  margin: 10px auto;
  padding: 12px;
  border: 3px solid #228b22;
  background: #1a1a1a;
  color: white;
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}
input:focus {
  border-color: #00ff00;
  box-shadow: 0px 0px 10px #00ff00;
}
button {
  width: calc(100% - 24px);
  margin: 10px auto;
  padding: 12px;
  background: #228b22;
  color: white;
  font-family: "VT323", monospace;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 0px 10px #228b22;
  box-sizing: border-box;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px #00ff00;
}
.hidden {
  display: none;
}
.switch {
  color: #00ff00;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  display: inline-block;
  margin-top: 10px;
}
