::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000a1;
}

::-webkit-scrollbar-thumb {
  background: #8888889e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.alert-success,
.alert-error {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
#shorten-list {
  list-style-type: none;
  padding: 0;
}
.attribution {
  font-size: 13px;
  -webkit-text-stroke: 0.5px black;
  color: lightblue;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  backdrop-filter: blur(1.5px);
}
.attribution a {
  text-decoration: none;
}
.attribution img {
  display: flex;
  width: 20px;
  padding: 6px;
}
.shorten-url {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #228b22;
  border-radius: 6px;
  padding: 8px;
  margin: 5px 0;
  transition: background 0.3s;
  cursor: pointer;
  font-size: 12px;
}
.shorten-url:hover {
  background: rgba(0, 0, 0, 0.9);
}

.shorten-url__info {
  font-size: 9px;
  line-height: 1.2;
}
.shorten-url__details {
  gap: 126px;
  display: flex;
  align-items: center;
  margin-top: -40px;
}
.shorten-url__actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}
.shorten-url__actions button {
  flex: 1;
  max-width: 100px;
}

h1 img {
  width: 20px;
  height: auto;
}

input {
  display: block;
  width: calc(100% - 20px);
  margin: 8px auto;
  padding: 10px;
  border: 2px solid #228b22;
  background: #1a1a1a;
  color: white;
  font-size: 9px;
  font-family: "Press Start 2P", cursive;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

input:focus {
  border-color: #00ff00;
  box-shadow: 0px 0px 8px #00ff00;
}

button {
  background: #228b22;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 0px 8px #228b22;
  font-size: 9px;
  padding: 8px;
  border-radius: 5px;
  width: 100px;
  border: none;
  margin: 5px 0;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px #00ff00;
}

.delete-btn {
  background-color: red;
  border: 2px solid #8b2222;
  box-shadow: 0px 0px 8px #8b2222;
}

.delete-btn:hover {
  background-color: #8b2222;
  box-shadow: 0px 0px 8px #8b2222;
}

.update-btn {
  background-color: #066706;
  border: 2px solid #065a01;
  box-shadow: 0px 0px 8px #0d4f04;
}

.toggle-details {
  background-color: rgb(165, 97, 42);
  color: white;
  border-radius: 5px;
  border: 2px solid #8b5a22;
  box-shadow: 0px 0px 8px #8b5a22;
  padding: 10px;
}

.toggle-details:hover {
  box-shadow: 0px 0px 15px #8b681b;
  background-color: #8b4513;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
}

.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://wallpapercave.com/uwp/uwp4244539.jpeg") no-repeat
    center center fixed;
  background-size: cover;
  z-index: -1;
}

.container {
  width: 500px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  border: 3px solid #8b8684;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #706b68;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.shorten-list-container {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 8px;
}

.logout {
  color: #ff5555;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 15px;
  border: 2px solid #ff5555;
  border-radius: 8px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.3s;
}

.logout:hover {
  background: #ff5555;
  color: black;
}

.hidden {
  display: none;
}

.switch {
  color: #00ff00;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  display: inline-block;
  margin-top: 8px;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
body {
  font-family: "Press Start 2P", cursive;
  font-size: 8px;
  -webkit-text-stroke: 0.1px black;
  text-align: center;
  color: white;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.redd.it/xznk72kqno781.jpg") no-repeat center center
    fixed;
  background-size: cover;
  z-index: -1;
}
.container {
  width: 500px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  border: 3px solid #8b8684;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #706b68;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.shorten-list-container {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 8px;
}
.shorten-url {
  padding: 8px;
  font-size: 12px;
  border: 2px solid #6c6764;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  margin-bottom: 8px;
}
input,
button {
  display: block;
  width: calc(100% - 20px);
  margin: 8px auto;
  padding: 10px;
  border: 2px solid #228b22;
  background: #1a1a1a;
  color: white;
  font-size: 9px;
  font-family: "Press Start 2P", cursive;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

input:focus {
  border-color: #00ff00;
  box-shadow: 0px 0px 8px #00ff00;
}
.logout {
  color: #ff5555;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 15px;
  border: 2px solid #ff5555;
  border-radius: 8px;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: 0.3s;
}
.logout:hover {
  background: #ff5555;
  color: black;
}
button {
  background: #228b22;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 0px 8px #228b22;
  font-size: 9px;
  padding: 8px;
  border-radius: 5px;
  width: 100px;
}
.delete-btn {
  background-color: red;
  border: 2px solid #8b2222;
  box-shadow: 0px 0px 8px #8b2222;
}
.delete-btn:hover {
  background-color: #8b2222;
  box-shadow: 0px 0px 8px #8b2222;
}
.toggle-details {
  background-color: rgb(165, 97, 42);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #8b5a22;
  box-shadow: 0px 0px 8px #8b5a22;
  cursor: pointer;
}

.toggle-details:hover {
  box-shadow: 0px 0px 15px #8b681b;
  background-color: #8b4513;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px #00ff00;
}
.hidden {
  display: none;
}
.switch {
  color: #00ff00;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  display: inline-block;
  margin-top: 8px;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
